@page "/calculator"

<PageTitle>Simple Calclulator</PageTitle>


<div class="maincontainer">
  <h1>Calclulator</h1>
  <div class="mainbox">
    <div class="main-box">
      <div class="display"> @CalcObj.num</div>
      <div class="box-container pb-2">
        <div class="row-custom mb-2">
          @{ 
            var stat = "AC";
            if(CalcObj.resetStatus){
              stat ="AC";
            }else{
              stat ="C";
            }
          }
          <div class="btn-custom light-gray" @onclick="@(resetOrErase)">@stat</div>
          <div class="btn-custom light-gray"> +/-</div>
          <div class="btn-custom light-gray" @onclick="@(CalcObj.percentage)">%</div>
          <button class="btn-custom light-orange"  @onclick="@(e => CalcObj.addOperator('÷'))">÷</button>
        </div>
        <div class="row-custom mb-2">
          <div class="btn-custom" @onclick="@(e => CalcObj.addElement('7'))">7</div>
          <div class="btn-custom" @onclick="@(e => CalcObj.addElement('8'))">8</div>
          <div class="btn-custom" @onclick="@(e => CalcObj.addElement('9'))">9</div>
          <button class="btn-custom light-orange" @onclick="@(e => CalcObj.addOperator('×'))">×</button>
        </div>
        <div class="row-custom mb-2">
          <div class="btn-custom" @onclick="@(e => CalcObj.addElement('4'))">4</div>
          <div class="btn-custom" @onclick="@(e => CalcObj.addElement('5'))">5</div>
          <div class="btn-custom" @onclick="@(e => CalcObj.addElement('6'))">6</div>
          <button class="btn-custom light-orange" @onclick="@(e => CalcObj.addOperator('-'))">-</button>
        </div>
        <div class="row-custom mb-2">
          <div class="btn-custom" @onclick="@(e => CalcObj.addElement('1'))">1</div>
          <div class="btn-custom" @onclick="@(e => CalcObj.addElement('2'))">2</div>
          <div class="btn-custom" @onclick="@(e => CalcObj.addElement('3'))">3</div>
          <button class="btn-custom light-orange" @onclick="@(e => CalcObj.addOperator('+'))">+</button>
        </div>
        <div class="row-custom">
          <div class="btn-lg btn-custom" @onclick="@(e => CalcObj.addElement('0'))">0</div>
          <div class="btn-custom" @onclick="@(e => CalcObj.addElement('.'))">.</div>
          <div class="btn-custom light-orange" @onclick="@(CalcObj.equalOperator)">=</div>
        </div>
      </div>
    </div>
  </div>

</div>
@code {
  
  CaculatorOperation CalcObj = new CaculatorOperation();

  void resetOrErase () {
    if(CalcObj.resetStatus ){
      CalcObj.reset();
    }else{
      CalcObj.erase();
    }
  }
}
