@page "/contact"

<PageTitle>Simple Contact Manager</PageTitle>

@using BlazorApp.Data
@inject ContactsService ContactService

<h1>Conctact Manager</h1>

<p>This component is a simple contacts manager</p>

@if (contacts == null)
{
    <p><em>Loading.....</em></p>
}
else{
    <div>
        <div class="action-conatiner">
            @{
                if(selectedContact == null){
                    isDisabled = true;
                }else{
                    isDisabled = false;
                }
            }
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Add</button>
            <button class="btn btn-info" disabled=@isDisabled >Edit</button>
            <button class="btn btn-danger" disabled=@isDisabled >Delete</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Email</th>
                    <th>Date of creating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contact in contacts)
                {
                    <tr @onclick="@(e => onSelected(@contact))" class="@(selectedContact?.Name == contact.Name ? "selected" : null)" >
                        <td>@contact.Name</td>
                        <td>@contact.Number</td>
                        <td>@contact.Email</td>
                        <td>@contact.Date.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <EditForm Model="@newcontact" OnValidSubmit="@HandleValidSubmit">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                            <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group mb-2">
                                <label for="name">Name</label>
                                <InputText id="name" class="form-control" @bind-Value="newcontact.Name" />
                            </div>
                            <div class="form-group mb-2">
                                <label for="number">Number</label>
                                <InputNumber id="number" class="form-control" @bind-Value="newcontact.Number" />
                            </div>
                            <div class="form-group mb-2">
                                <label for="email">Email</label>
                                <InputText id="email" class="form-control" @bind-Value="newcontact.Email" />
                            </div>

                            <DataAnnotationsValidator />
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" @onclick=@addContact class="btn btn-primary"> Save</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}


@code{
    private List<Contact>? contacts;
    private Contact newcontact = new Contact("", "");
        
    private bool @isDisabled = false;
    private Contact? selectedContact;

    private void onSelected (Contact cnt){
        selectedContact = cnt;
    }

    private void HandleValidSubmit(){

    }
    private void addContact () {
        newcontact.Date = DateTime.Now;
        if(string.IsNullOrEmpty(newcontact.Name)){
        }else{
            ContactService.AddContact(newcontact);
        }
        newcontact = new Contact("","");
    }
    protected override async Task OnInitializedAsync()
    {
        contacts = await ContactService.GetAllContacts();
    }

}